{% extends "portal.html" %}

{% load i18n static %}

    {% block content %}
    <div class="card" style="margin-left: 5%; width: 90%;">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6"><i class="fa fa-chart-bar"></i> {% translate title %}</div>
            <div class="col-lg-6 text-right">
            {% if back %}<a href="{% url back %}" target="_self"><input type="button" class="btn btn-info btn-sm" value="{% translate 'Back' %}"></a>{% endif %}
            {% if refresher %}<a href="{% url refresher %}" target="_self"><input type="button" class="btn btn-info btn-sm" value="{% translate 'Refresh' %}"></a>{% endif %}
            </div>
            </div>
        </div>
        <div class="card-body cardbody1">
            {% if request.user.is_superuser %}
            {% endif %}
            <div id="timeline" style="background-color: #ffffff;" class="container-fluid">
            {% for v1 in info %}
                <div class="row">
                <div class="col-auto"><b class="text-muted">{{ v1.0|safe }}</b> <i class="fa fa-long-arrow-alt-right text-info" aria-hidden="true"></i></div>
                <div class="col-10-auto">
                {% for v2 in v1.1 %}
                    {% if forloop.counter > 1 %}
                        <i class="fa fa-angle-right text-success" aria-hidden="true"></i>&nbsp;
                    {% endif %}
                        {{ v2|safe }}&nbsp;
                {% endfor %}
                </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

    {% endblock %}
