{% extends "portal.html" %}

{% load i18n static %}

    {% block content %}

        {% load django_tables2 %}
<div class="card" style="margin-left: 5%; width: 90%;">
  <div class="card-header">
    {% translate 'Select Domain...' %}
  </div>
  <div class="card-body">
{% if filter %}
    <form action="" method="get" class="form form-inline">

        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.name }} - ${{ obj.price }}<br />
    {% endfor %}

{% endif %}

        {% render_table table %}
  </div>
</div>
    {% endblock %}

