body {
    background-color: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Allows alert to be shown over nav-bar */
#top-alert {
  background-color: #f6fff6;
  position: fixed;
  top: 0;
  z-index: 99999;
}
.helptext {
    font-size: 8pt;
    padding-top: 5px;
}

tcselecthxtag {

}

.pbx-actions {
  padding: 10px;
  border-top: none;
  border-bottom: none;
  line-height: 24px;
  color: #666;
  width: 100%;
}

.pbx-actions select {
  vertical-align: top;
  height: 24px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  font-size: 14px;
  padding: 0 0 0 4px;
  margin-left: 10px;
}

.pbx-actions button {
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
  cursor: pointer;
  height: 24px;
  line-height: 1;
  padding: 4px 8px;
  margin: 0;
  color: #333;
}

.pbx-action-select {
    padding-right: 1px;

}

.pbx-action-toggle {
    padding-right: 1px;

}

/*
CSS for colours
*/
.cardbody1 {
    background-color: #fffff6 !important;
    font-size: 11pt;
}
.cardbody2 {
    background-color: #fff6ff !important;
    font-size: 11pt;
}
.cardbody3 {
    background-color: #f6ffff !important;
    font-size: 11pt;
}
.cardbody4 {
    background-color: #fff6f6 !important;
    font-size: 11pt;
}
.tablecolumn1 {
    width: 10%;
    background-color: #f6f6ff !important;
    font-size: 11pt;
}

.ccwb-card-hdr {
    background-color: #6c757e !important;
    color: white;
    font-size: 1vw;
}

.ccwb-clock {
    background-color: #0078ff !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-queue {
    background-color: #0078ff !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-logged-out {
    background-color: #6c757e !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-on-break {
    background-color: #06637a !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-logged-in {
    background-color: #00a2ba !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-info {
    background-color: #00a2ba !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-ok {
    background-color: #13a93d !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-warn {
    background-color: #ffc200 !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-crit {
    background-color: #e02f40 !important;
    color: white;
    font-size: 1vw;
    padding-bottom: 0;
}

.ccwb-big {
    color: white;
    font-size: 2.5vw;
}

.ccwb-footer {
    color: white;
    font-size: 1vw;
    margin-bottom: 0;
}


/*
CSS for log in screen
*/
.login {
    width: 25%;
    max-width: 400px;
    min-width: 250px;
    background-color: #fafafa;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #d54a54;
    font-size: 36px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #dee0e4;
}
.login img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 20px 0 0 0;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50px;
    height: 50px;
    background-color: #79aec8;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 75%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #79aec8;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

.dash-card-head {
    background-color: #fafafa;
    color: #555555;
    text-align: center;
    margin-bottom: 0px;
    padding: 0 0 0 0;

}

.dash-card-head h1{
    font-size: 48pt;
    text-shadow: 3px 3px 3px grey;
}

tr.nobttm {
    border-bottom: none !important;
}

nav.navbar {
    background-color: #e0e0e0;
    padding: .2rem 1rem;
}

/* menu brand text */
a.navbar-brand {
    color: #141414;
    font-size: 11pt;
    white-space: nowrap;
}

/* menu brand text hover */
a.navbar-brand:hover {
    color: #4ac1f7 !important;
}

/* main menu item */
ul.navbar-nav > li.nav-item > a.nav-link {
    font-family: arial;
    font-size: 11pt;
    color: #141414;
    /*padding: 15px 10px 14px 10px; !important;*/
}

ul.navbar-nav > li.nav-item:hover > a.nav-link,
ul.navbar-nav > li.nav-item:focus > a.nav-link,
ul.navbar-nav > li.nav-item:active > a.nav-link {
    color: #4ac1f7;
    background: #e0e0e0;
}

/* sub menu container */
div.dropdown-menu > a.dropdown-item {
    background-color: #e0e0e0;
    color: #141414;
    font-family: arial;
    font-size: 11pt;
}

div.dropdown-menu > a.dropdown-item:hover,
div.dropdown-menu > a.dropdown-item:focus,
div.dropdown-menu > a.dropdown-item:active {
    background-color: #e0e0e0;
    color: #4ac1f7;
}

div.dropdown-menu {
    background-color: #e0e0e0;
    border: none;
}
/*
.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}
.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}
*/

table.formtable td,
table.formtable th {
    padding: 5px;
    line-height: 13px;
    text-align: left;
}

table.pbxtable td,
table.pbxtable th {
    padding: 5px;
    line-height: 13px;
    text-align: left;
    vertical-align:top;
}

table.pbxformtable {
    border-collapse: collapse;
    border-color: #CCC;
    border: 1px solid #DDD;
}

table.pbxformtable tr {
    border-bottom: 1px solid #f0f0f0;
}

table.pbxformtable td {
    padding: 5px;
    padding-left: 20px;
    line-height: 13px;
    text-align: left;
/*    background-color: #fefefe !important;*/
    vertical-align:top;
}

table.pbxformtable th {
    padding: 5px;
    padding-left: 20px;
    line-height: 13px;
    text-align: left;
    vertical-align:top;
    border-right: 1px solid #f0f0f0;
    background-color: #f6f6ff !important;
}

table.pbxformtable tr.odd {
    background-color: #fcfcfc;
}

table.pbxformtable tr.even {
    background-color: white;
}

table.pbxformtable tr {
    background-color: white;
}

.table-borderless th {
    border: 0;
}

/*
CSS for django-tables2
*/
table.paleblue {
    width: 100%;
    border-collapse: collapse;
    border-color: #CCC;
    border: 1px solid #DDD;
}

table.paleblue,
table.paleblue +  ul.pagination {
    font: normal 10pt/12pt 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

table.paleblue a:link,
table.paleblue a:visited,
table.paleblue + ul.pagination > li > a {
    color: #5B80B2;
    text-decoration: none;
    font-weight: bold;
}

table.paleblue a:hover {
    color: #036;
}

table.paleblue td,
table.paleblue th {
    padding: 5px;
    line-height: 13px;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #DDD;
    text-align: left;
}

table.paleblue thead th:first-child,
table.paleblue thead td:first-child {
    border-left: none !important;
}

table.paleblue thead th,
table.paleblue thead td {
    background: #FCFCFC url(../img/header-bg.png) left bottom repeat-x;
    border-bottom: 1px solid #DDD;
    padding: 2px 5px;
    font-size: 11pt;
    vertical-align: middle;
    color: #666;
}

table.paleblue thead th > a:link,
table.paleblue thead th > a:visited {
    color: #666;
}

table.paleblue thead th.orderable > a {
    padding-right: 20px;
    background: url(../img/arrow-inactive-up.png) right center no-repeat;
}
table.paleblue thead th.orderable.asc > a {
    background-image: url(../img/arrow-active-up.png);
}
table.paleblue thead th.orderable.desc > a {
    background-image: url(../img/arrow-active-down.png);
}

table.paleblue tr.odd {
    background-color: #EDF3FE;
}

table.paleblue tr.even {
    background-color: white;
}

table.paleblue + ul.pagination {
    background: white url(../img/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}

table.paleblue + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.paleblue + ul.pagination > li:first-child {
    margin-left: 0;
}

table.paleblue + ul.pagination > li.cardinality {
    float: right;
    color: #8d8d8d;
}

table.paleblue > tbody > tr > td > span.true,
table.paleblue > tbody > tr > td > span.false {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    overflow: hidden;
    text-indent: -200px;
    width: 10px;
}

table.paleblue > tbody > tr > td > .missing {
    background: transparent url(../img/missing.png) right center no-repeat;
    color: #717171;
    padding-right: 20px;
}

table.paleblue > tbody > tr > td > .missing:hover {
    color: #333;
}

table.paleblue > tbody > tr > td > span.true {
    background-image: url(../img/true.gif);
}

table.paleblue > tbody > tr > td > span.false {
    background-image: url(../img/false.gif);
}


div.cardbody1 > div > nav > ul.pagination > li.active {
    border: 1px solid #0000ff;

}

div.cardbody1 > div > nav > ul.pagination > li {
    display: flex;
    background-color: #fffff6;
    padding: 0px 5px;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    border: 1px solid #DDD;

}

div.cardbody1 > div > nav > ul.pagination > li > a{
    color: #717171;
}

div.cardbody1 > div > nav > ul.pagination > li {
    float: left;
    margin-left: 5px;
}

div.cardbody1 > div > nav > ul.pagination > li:first-child {
    margin-left: 0;
}

div.table-container {
    display: inline-block;
}

/*
CSS for forms

.form-inline .form-group {
  margin-right:20px;
}
*/
.filter-inline-container {
    font-size: 13px;
}
.filter-inline-container input {
    margin-right: 5px;
}
.filter-inline-container select {
    margin-right: 5px;
}
/*
CSS for help pages
*/
pre {
    display: block;
    padding: 10px;
    background-color: #edffec;
    border: 1px solid #b3f4ae;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    }

pre > code {
    font-family: Courier New, monospace;
    color: #16980c;
    }
