{% extends "admin/base.html" %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<style>
:root {
  --primary: #79aec8;
  --secondary: #e0e0e0;
  --link-fg: #447e9b;
  --link-selected-fg: #5b80b2;
  --primary-fg: #fff;
  --header-color: #543444;
  --header-link-color: #141414;
  --default-button-bg: #417690;
}
</style>
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name" style="font-size: 16px;">
    <a href="{% url 'admin:index' %}" style="color: #141414;">
        <img src="{% static '/img/logo.png' %}" height="27px" />&nbsp&nbsp;@&nbsp;{{ request.META.HTTP_HOST }}&nbsp;-&nbsp;</a>
        <a href="{% url 'admin:tenants_domain_changelist' %}" style="color: #141414; font-weight: bold;">{{ request.session.domain_name }}</a>
</h1>
{% endblock %}

            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% translate 'Portal' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'pbxlogout' %}">{% translate 'Log out' %}</a>
            {% endblock %}


{% block nav-global %}{% endblock %}
