{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}
{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Copy settings to domain' %}
</div>
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form }}
    <p>{% translate 'Copy settings to domain:' %}</p>

    <ul>{{ items|unordered_list }}</ul>
    <input type="hidden" name="action" value="copy_settings_to_domain" />
    <input type="submit" name="apply" value="{% translate 'Copy' %}" />
    <a href="#" class="button cancel-link">{% translate 'No, take me back' %}</a>
</form>
{% endblock %}

