{% load i18n static %}

<div class="col-lg">
    <div class="card" style="margin: 0px 5px 0px 5px; width: 100%;">
        <div class="card-header ccwb-card-hdr">
            <div class="text-center" id="{{ agent_id }}-status">{{ status }}</div>
        </div>
        <div id="{{ agent_id }}-colour" class="card-body {{ colour }} text-center">
            <div><p class="ccwb-big">{{ name }}</p></div><div id="{{ agent_id }}-change"><p class="ccwb-footer">{{ status_change }}</p></div>
        </div>
    </div>
</div>
