{% load i18n static %}

<div class="col-lg">
    <div class="card" style="margin: 0px 5px 0px 5px; width: 100%;">
        <div class="card-header ccwb-card-hdr">
            <div class="text-center" id="wb_queue">{% translate 'Queue' %}</div>
        </div>
        <div class="card-body ccwb-queue text-center">
            <div id="queue"><p class="ccwb-big">{{ q_name }}</p></div><div id="qagents"><p id="queue-agents" class="ccwb-footer">{{ q_agents }}</p></div>
        </div>
    </div>
</div>
