{% extends "portal.html" %}

{% load i18n static %}

    {% block content %}
    <div class="card" style="margin-left: 5%; width: 90%;">
        <div class="card-header">
            <i class="fas fa-hourglass"></i> {% translate 'Change Call Centre Settings - Queue:' %} <b>{{ object.name }}</b>
        </div>
        <div class="card-body cardbody1">
            {% if request.user.is_superuser %}
                <a href="/admin/callcentres/callcentrequeues/{{ form.instance.id }}/change/">{% translate 'Go to Queue in Admin:' %}</a>
            {% endif %}
            <div class="container p-3 my-3 border" style="background-color: #fcfcfc;">
            <form action="{% url 'ccqueueedit' form.instance.id %}" method="post">
                {% csrf_token %}
                <table class="pbxformtable" style="border: none;">
                {{ form.as_table }}
                </table>
                <input style="margin-top: 10px;" type="submit" class="btn btn-info btn-sm" value="{% translate 'Update Queue' %}">
                <a  href="/callcentres/wbqueueresetcounters/{{ form.instance.id }}/" target="_self"><input type="button" style="margin-top: 10px;" class="btn btn-info btn-sm" value="{% translate 'Reset Wallboard Counters' %}"></a>
                <a  href="/callcentres/wbsinglequeue/{{ form.instance.id }}/" target="_self"><input type="button" style="margin-top: 10px;" class="btn btn-info btn-sm" value="{% translate 'Launch Wallboard' %}"></a>
                {% if back %}<a  href="{{ back }}" target="_self"><input type="button" style="margin-top: 10px;" class="btn btn-info btn-sm" value="{% translate 'Back' %}"></a>{% endif %}
            </form>
            </div>
        </div>
    </div>

    {% endblock %}

