{% extends "portal.html" %}

{% load i18n static %}
{% load cc_math_filters %}
{% block menu-nav %}
{% endblock %}

    {% block content %}
    <div class="row" style="margin-bottom: 20px;">
    {% include 'callcentres/clock_card.html' with q_date=d.queue.q_date %}
    {% include 'callcentres/queue_card.html' with q_name=d.queue.name q_agents=d.queue.agent_count %}
    {% include 'callcentres/counting_card.html' with colour='ccwb-ok' title='Trying' value=d.queue.trying %}
    {% include 'callcentres/counting_card.html' with colour='ccwb-ok' title='Waiting' value=d.queue.waiting %}
    {% include 'callcentres/counting_card.html' with colour='ccwb-info' title='Answered' value=d.queue.answered %}
    {% include 'callcentres/counting_card.html' with colour='ccwb-ok' title='Abandoned' value=d.queue.abandoned %}
    </div>
    {% if d.queue.settings.sa == 1 %}
    <div class="row" style="margin-bottom: 20px;">
    {% for key, value in d.agents.items %}
    {% include 'callcentres/agent_card.html' with agent_id=key colour=value.wb_colour status=value.wb_status status_change=value.status_time name=value.name %}
    {% if forloop.counter|divisibleby:d.queue.settings.apr %}
    </div>
    <div class="row" style="margin-bottom: 20px;">
    {% endif %}
    {% if forloop.last %}
    {% for n in forloop.counter|rowfill:d.queue.settings.apr %}
    {% include 'callcentres/agent_filler.html' %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>

<script>
(function() {
    var wbrefresh = function() {
    fetch('/callcentres/wbsinglequeuejson/{{ d.queue.id }}/{{ d.queue.token }}')
        .then((response) => {
            return response.json();
        })
        .then((data) => {
            document.getElementById('qdate').innerHTML = '<p class="ccwb-footer">' + data.queue.q_date + '</p>';
            document.getElementById('queue-agents').innerHTML = data.queue.agent_count;
            document.getElementById('Trying').innerHTML = '<p class=\"ccwb-big\">' + data.queue.trying + '</p>';
            document.getElementById('Waiting-colour').classList.remove('ccwb-ok', 'ccwb-warn', 'ccwb-crit');
            document.getElementById('Waiting-colour').classList.add(data.queue.waiting_colour);
            document.getElementById('Waiting').innerHTML = '<p class=\"ccwb-big\">' + data.queue.waiting + '</p>';
            document.getElementById('Answered').innerHTML = '<p class=\"ccwb-big\">' + data.queue.answered + '</p>';
            document.getElementById('Abandoned-colour').classList.remove('ccwb-ok', 'ccwb-warn', 'ccwb-crit');
            document.getElementById('Abandoned-colour').classList.add(data.queue.abandoned_colour);
            document.getElementById('Abandoned').innerHTML = '<p class=\"ccwb-big\">' + data.queue.abandoned + '</p>';
            {% if d.queue.settings.sa == 1 %}
            {% for key, value in d.agents.items %}
            document.getElementById('{{ key }}-colour').classList.remove('ccwb-ok', 'ccwb-info', 'ccwb-warn', 'ccwb-logged-out', 'ccwb-on-break');
            document.getElementById('{{ key }}-colour').classList.add(data.agents.{{ key }}.wb_colour);
            document.getElementById('{{ key }}-status').innerHTML = data.agents.{{ key }}.wb_status;
            document.getElementById('{{ key }}-change').innerHTML = data.agents.{{ key }}.status_time;
            {% endfor %}
            {% endif %}
        })
        .catch(function(error) {
             console.log(error);
        });
    };
    wbrefresh();
    // Calling wbrefresh() every 4 seconds
    setInterval(wbrefresh, 4000);
}());
</script>
    {% endblock %}
