{% extends "portal.html" %}

{% load i18n static %}

    {% block content %}
<!-- Popperjs -->
<script src="{% static 'script/tempusdominus/popper.min.js' %}"></script>
<!-- Tempus Dominus JavaScript -->
<script src="{% static 'script/tempusdominus/tempus-dominus.min.js' %}"></script>
<!-- Tempus Dominus Styles -->
<link rel="stylesheet" type="text/css" href="{% static 'script/tempusdominus/tempus-dominus.min.css' %}" />

<!--<script>
htmx.logger = function(elt, event, data) {
    if(console) {
        console.log(event, elt, data);
    }
}
</script>-->
<script>
var pbxdtps = new Map();
function dt_click(clicked_id) {
    if (!pbxdtps.has(clicked_id)) {
        var picker = new tempusDominus.TempusDominus(document.getElementById(clicked_id), {
            display: {
                icons: {
                    time: 'fas fa-clock',
                    date: 'fas fa-calendar-alt',
                    up: 'fas fa-arrow-up',
                    down: 'fas fa-arrow-down',
                    previous: 'fas fa-chevron-left',
                    next: 'fas fa-chevron-right',
                    today: 'fas fa-calendar-check',
                    clear: 'fas fa-trash',
                    close: 'fas fa-times',
                },
                components: {
                  seconds: false
                }
            },
            localization: {
                format: 'yyyy-MM-dd HH:mm',
            }
        });
        pbxdtps.set(clicked_id, picker)
    }
}
</script>
    <div class="card" style="margin-left: 5%; width: 90%;">
        <div class="card-header">
            <i class="fa fa-calendar"></i> {% translate 'Time Condition' %}
        </div>
        <div class="card-body cardbody1">
            {% if request.user.is_superuser %}
                {%if not dp_uuid == 'New' %}
                    <a href="/admin/dialplans/dialplan/{{ dp_uuid }}/change/">{% translate 'Go to Time condition in Admin:' %}</a>
                {% endif %}
            {% endif %}
            <div class="container p-3 my-3 border" style="background-color: #fcfcfc;">
            <form action="{% url refresher %}" method="post">
                {% csrf_token %}
                {{ form.dp_id }}
                {{ form.settings_count }}
                {{ form.setting_condition_count }}
                {{ form.tcregion }}
                <table class="pbxformtable" style="border: none;">
                    <tr class="nobttm"><th>{{ form.name.label }}</th><td>{{ form.name }}</td></tr>
                    <tr class="nobttm"><th>{{ form.number.label }}</th><td>{{ form.number }}</td></tr>
                    <tr class="nobttm"><th>{% translate 'Settings' %}</th></tr>
                    {% for d in form.get_settings_fields %}
                    {% for key, value in d.items %}
                        {% if key == 'set' %}
                            {% for vl in value %}
                            <tr class="nobttm"><th> </th>
                            {% for v in vl %}
                                <td>{{ v }}</td>
                            {% endfor %}
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="nobttm"><th> </th>
                            {% for v in value %}
                            <td>{{ v }}</td>
                            {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr class="nobttm"><th> </th><td><span class="helptext">{% translate 'Define custom conditions necessary to execute the destination selected above.' %}</span></td>
                    <tr class="nobttm"><th><hr></th><td><hr></td>
                    {% endfor %}
                    <tr class="nobttm"><th>{% translate 'Presets' %}</th></tr>
                    {% for preset_field in form.get_preset_fields %}
                        <tr class="nobttm"><th></th><td>{{ preset_field }} {{ preset_field.label }}</td></tr>
                    {% endfor %}
                    <tr class="nobttm"><th>{% translate 'Alternate Destination' %}</th><td>{{ form.default_action }} </td></tr>
                    <tr class="nobttm"><th>{{ form.sequence.label }}</th><td>{{ form.sequence }}</td></tr>
                    <tr class="nobttm"><th>{{ form.enabled.label }}</th><td>{{ form.enabled }}</td></tr>
                    <tr class="nobttm"><th>{{ form.description.label }}</th><td>{{ form.description }}</td></tr>

                </table>
                <input style="margin-top: 10px;" type="submit" class="btn btn-info btn-sm" value="{% translate 'Save' %}">
            </form>
            </div>
        </div>
    </div>

    {% endblock %}

