{% extends 'admin/change_form.html' %}

{% block after_field_sets %}
    <div class="form-row">
    {% if request.path|slice:"-8:" == '/change/' %}
        {% for fieldset in adminform %}
        {% for line in fieldset %}
        {% for field in line %}
            {% if field.field.name == 'filename' %}
                <audio controls preload='none'><source src="/{{ field.field.value }}"></audio>
            {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
