{% extends "portal.html" %}

{% load i18n static %}

    {% block content %}
    <div class="card" style="margin-left: 5%; width: 90%;">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6"><i class="fa fa-info"></i> {% translate title %}</div>
            <div class="col-lg-6 text-right">
            {% if back %}
            <a href="{% url back %}" target="_self"><input type="button" class="btn btn-info btn-sm" value="{% translate 'Back' %}"></a>
            {% endif %}
            {% if refresher %}
            <a href="{{ refresher }}" target="_self"><input type="button" class="btn btn-info btn-sm" value="{% translate 'Refresh' %}"></a>
            {% endif %}
            </div>
            </div>
        </div>
        <div class="card-body cardbody1">
        {% if links %}
          <p><a class="btn btn-info btn-sm" data-toggle="collapse" href="#collapseLinks" role="button" aria-expanded="false" aria-controls="collapseLinks">{{ linkstitle }}</a></p>
        <div class="collapse" id="collapseLinks"><p>
            {% for key, value in links.items %}
            <a href="{{ value }}">{{ key }}</a> &nbsp;
            {% endfor %}
        </p></div>
        {% endif %}
        <div class="table-container table-responsive">
        <table width="100%" class="pbxformtable">
            <tr>
            {% for h in th %}
            <th>{{ h }}</th>
            {% endfor %}
            </tr>
        {% for key, value in info.items %}
            <tr class="{% cycle 'odd' 'even' %}">
                <th><b>{{ key|safe }}</b></th>
                {% for v in value %}
                <td>{{ v|safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        </div>
        </div>
    </div>

    {% endblock %}

