{% extends "portal.html" %}

{% load i18n static %}

    {% block content %}
    <div class="card" style="margin-left: 5%; width: 90%;">
        <div class="card-header">
            <div class="row">
            <div class="col-lg-6"><i class="fa fa-info"></i> {% translate title %}</div>
            {% if refresher %}
            <div class="col-lg-6 text-right"><form action="{% url refresher %}" method="get"><input type="submit" class="btn btn-info btn-sm" value="Refresh"></form></div>
            {% endif %}
            {% if back %}
            <div class="col-lg-6 text-right"><form action="{% url back %}" method="get"><input type="submit" class="btn btn-info btn-sm" value="Back"></form></div>
            {% endif %}
            </div>
        </div>
        <div class="card-body cardbody1">
        <table class="table table-sm">
        {% for key, value in info.items %}
            <tr>
                <td class="tablecolumn1"><b>{{ key|safe }}</b></td>
                <td class="table-light">{{ value|safe }}</td>
            </tr>
        {% endfor %}
        </table>

        </div>
    </div>

    {% endblock %}

