; Author: Adrian Fretwell <adrian@djangopbx.com>
;
; cp /home/django-pbx/pbx/resources/lib/systemd/system/pbx-event-receiver.service /lib/systemd/system/pbx-event-receiver.service
; systemctl daemon-reload
; systemctl enable pbx-event-receiver
; systemctl start pbx-event-receiver


[Unit]
Description=PBX Event Receiver
Wants=network-online.target
Requires=network.target local-fs.target postgresql.service
After=network.target network-online.target local-fs.target postgresql.service memcached.service

[Service]
; service
Type=simple
User=django-pbx
WorkingDirectory=/home/django-pbx/pbx
ExecStart=/home/django-pbx/envdpbx/bin/python manage.py eventreceiver
TimeoutSec=45s
Restart=always

[Install]
WantedBy=multi-user.target
