;;;;; Author: Adrian Fretwell <adrian@djangopbx.com>

[Unit]
Description=PBX Event Receiver
Wants=network-online.target
Requires=network.target local-fs.target postgresql.service
After=network.target network-online.target local-fs.target postgresql.service memcached.service

[Service]
; service
Type=simple
User=django-pbx
WorkingDirectory=/home/django-pbx/pbx
ExecStart=/home/django-pbx/envdpbx/bin/python manage.py eventreceiver
TimeoutSec=45s
Restart=always

[Install]
WantedBy=multi-user.target
